[submodule "anat/bids"]
	path = anat/bids
	url = git@github.com:courtois-neuromod/anat.git
	datalad-id = b376774c-889d-11ea-b60e-3ea8d101da1a
	datalad-url = git@github.com:courtois-neuromod/anat.git
[submodule "floc/bids"]
	path = floc/bids
	url = git@github.com:courtois-neuromod/floc.git
	datalad-id = a1aba9da-6122-4824-948f-241b0a1f4886
	datalad-url = git@github.com:courtois-neuromod/floc.git
[submodule "friends/bids"]
	path = friends/bids
	url = git@github.com:courtois-neuromod/friends.git
	datalad-id = 66738676-1d20-11ea-9a9e-3ea8d101da1a
	datalad-url = git@github.com:courtois-neuromod/friends.git
[submodule "gamepad/bids"]
	path = gamepad/bids
	url = git@github.com:courtois-neuromod/gamepad.git
	datalad-id = afdbdee8-50ec-4cd4-9baa-354a946585c5
	datalad-url = git@github.com:courtois-neuromod/gamepad.git
[submodule "harrypotter/bids"]
	path = harrypotter/bids
	url = git@github.com:courtois-neuromod/harrypotter.git
	datalad-id = d58c7aa5-3e9f-48bf-9cb9-d55057f460fd
	datalad-url = git@github.com:courtois-neuromod/harrypotter.git
[submodule "hcptrt/bids"]
	path = hcptrt/bids
	url = git@github.com:courtois-neuromod/hcptrt.git
	datalad-id = 75ea31e2-f730-11e9-aec7-3ea8d101da1a
	datalad-url = git@github.com:courtois-neuromod/hcptrt.git
[submodule "mario/bids"]
	path = mario/bids
	url = git@github.com:courtois-neuromod/mario.git
	datalad-id = 195953d1-63c4-491a-adb1-c2e9ea1a2746
	datalad-url = git@github.com:courtois-neuromod/mario.git
[submodule "movie10/bids"]
	path = movie10/bids
	url = git@github.com:courtois-neuromod/movie10.git
	datalad-id = 74df9898-c9bb-11e9-85f3-3ea8d101da1a
	datalad-url = git@github.com:courtois-neuromod/movie10.git
[submodule "retinotopy/bids"]
	path = retinotopy/bids
	url = git@github.com:courtois-neuromod/retinotopy.git
	datalad-id = df96e39c-55e0-4862-a5c4-66145afcff6a
	datalad-url = git@github.com:courtois-neuromod/retinotopy.git
[submodule "shinobi/bids"]
	path = shinobi/bids
	url = git@github.com:courtois-neuromod/shinobi.git
	datalad-id = 3ee55e10-f8f6-11ea-83ca-3ea8d101da1a
	datalad-url = git@github.com:courtois-neuromod/shinobi.git
[submodule "things/bids"]
	path = things/bids
	url = git@github.com:courtois-neuromod/things.git
	datalad-id = 5151ad3c-321e-4111-abf0-95fee0dcbb90
	datalad-url = git@github.com:courtois-neuromod/things.git
[submodule "floc/fmriprep"]
	path = floc/fmriprep
	url = git@github.com:courtois-neuromod/floc.fmriprep.git
	datalad-id = 237e4de8-a4d4-42aa-8814-ab0f2f6c331c
	datalad-url = git@github.com:courtois-neuromod/floc.fmriprep.git
[submodule "friends/fmriprep"]
	path = friends/fmriprep
	url = git@github.com:courtois-neuromod/friends.fmriprep.git
	datalad-id = cbfd6482-5670-4f39-ba1b-9623f1f460b8
	datalad-url = git@github.com:courtois-neuromod/friends.fmriprep.git
[submodule "gamepad/fmriprep"]
	path = gamepad/fmriprep
	url = git@github.com:courtois-neuromod/gamepad.fmriprep.git
	datalad-id = e8f3cb93-15a8-41c5-9d63-33cb5b4bf143
	datalad-url = git@github.com:courtois-neuromod/gamepad.fmriprep.git
[submodule "harrypotter/fmriprep"]
	path = harrypotter/fmriprep
	url = git@github.com:courtois-neuromod/harrypotter.fmriprep.git
	datalad-id = e7c71cca-4d8e-4bd1-b8c7-5fe43e44c1b9
	datalad-url = git@github.com:courtois-neuromod/harrypotter.fmriprep.git
[submodule "hcptrt/fmriprep"]
	path = hcptrt/fmriprep
	url = git@github.com:courtois-neuromod/hcptrt.fmriprep.git
	datalad-id = 167b1afc-ab5f-473b-932b-7e7a28c37dc3
	datalad-url = git@github.com:courtois-neuromod/hcptrt.fmriprep.git
[submodule "mario/fmriprep"]
	path = mario/fmriprep
	url = git@github.com:courtois-neuromod/mario.fmriprep.git
	datalad-id = c1c43979-a83d-42b7-9508-4fface179af8
	datalad-url = git@github.com:courtois-neuromod/mario.fmriprep.git
