[submodule "anat/bids"]
	path = anat/bids
	url = git@github.com:courtois-neuromod/anat.git
	datalad-id = b376774c-889d-11ea-b60e-3ea8d101da1a
	datalad-url = https://github.com/courtois-neuromod/anat.git
[submodule "floc/bids"]
	path = floc/bids
	url = git@github.com:courtois-neuromod/floc.git
	datalad-id = a1aba9da-6122-4824-948f-241b0a1f4886
	datalad-url = https://github.com/courtois-neuromod/floc.git
[submodule "friends/bids"]
	path = friends/bids
	url = git@github.com:courtois-neuromod/friends.git
	datalad-id = 66738676-1d20-11ea-9a9e-3ea8d101da1a
	datalad-url = https://github.com/courtois-neuromod/friends.git
[submodule "gamepad/bids"]
	path = gamepad/bids
	url = git@github.com:courtois-neuromod/gamepad.git
	datalad-id = afdbdee8-50ec-4cd4-9baa-354a946585c5
	datalad-url = https://github.com/courtois-neuromod/gamepad.git
[submodule "harrypotter/bids"]
	path = harrypotter/bids
	url = git@github.com:courtois-neuromod/harrypotter.git
	datalad-id = d58c7aa5-3e9f-48bf-9cb9-d55057f460fd
	datalad-url = https://github.com/courtois-neuromod/harrypotter.git
[submodule "hcptrt/bids"]
	path = hcptrt/bids
	url = git@github.com:courtois-neuromod/hcptrt.git
	datalad-id = 75ea31e2-f730-11e9-aec7-3ea8d101da1a
	datalad-url = https://github.com/courtois-neuromod/hcptrt.git
[submodule "mario/bids"]
	path = mario/bids
	url = git@github.com:courtois-neuromod/mario.git
	datalad-id = 195953d1-63c4-491a-adb1-c2e9ea1a2746
	datalad-url = https://github.com/courtois-neuromod/mario.git
[submodule "movie10/bids"]
	path = movie10/bids
	url = git@github.com:courtois-neuromod/movie10.git
	datalad-id = 74df9898-c9bb-11e9-85f3-3ea8d101da1a
	datalad-url = https://github.com/courtois-neuromod/movie10.git
[submodule "retinotopy/bids"]
	path = retinotopy/bids
	url = git@github.com:courtois-neuromod/retinotopy.git
	datalad-id = df96e39c-55e0-4862-a5c4-66145afcff6a
	datalad-url = https://github.com/courtois-neuromod/retinotopy.git
[submodule "shinobi/bids"]
	path = shinobi/bids
	url = git@github.com:courtois-neuromod/shinobi.git
	datalad-id = 3ee55e10-f8f6-11ea-83ca-3ea8d101da1a
	datalad-url = https://github.com/courtois-neuromod/shinobi.git
[submodule "things/bids"]
	path = things/bids
	url = git@github.com:courtois-neuromod/things.git
	datalad-id = 5151ad3c-321e-4111-abf0-95fee0dcbb90
	datalad-url = https://github.com/courtois-neuromod/things.git
[submodule "floc/fmriprep"]
	path = floc/fmriprep
	url = git@github.com:courtois-neuromod/floc.fmriprep.git
	datalad-id = 237e4de8-a4d4-42aa-8814-ab0f2f6c331c
	datalad-url = https://github.com/courtois-neuromod/floc.fmriprep.git
[submodule "friends/fmriprep"]
	path = friends/fmriprep
	url = git@github.com:courtois-neuromod/friends.fmriprep.git
	datalad-id = cbfd6482-5670-4f39-ba1b-9623f1f460b8
	datalad-url = https://github.com/courtois-neuromod/friends.fmriprep.git
[submodule "gamepad/fmriprep"]
	path = gamepad/fmriprep
	url = git@github.com:courtois-neuromod/gamepad.fmriprep.git
	datalad-id = e8f3cb93-15a8-41c5-9d63-33cb5b4bf143
	datalad-url = https://github.com/courtois-neuromod/gamepad.fmriprep.git
[submodule "harrypotter/fmriprep"]
	path = harrypotter/fmriprep
	url = git@github.com:courtois-neuromod/harrypotter.fmriprep.git
	datalad-id = e7c71cca-4d8e-4bd1-b8c7-5fe43e44c1b9
	datalad-url = https://github.com/courtois-neuromod/harrypotter.fmriprep.git
[submodule "hcptrt/fmriprep"]
	path = hcptrt/fmriprep
	url = git@github.com:courtois-neuromod/hcptrt.fmriprep.git
	datalad-id = 167b1afc-ab5f-473b-932b-7e7a28c37dc3
	datalad-url = https://github.com/courtois-neuromod/hcptrt.fmriprep.git
[submodule "mario/fmriprep"]
	path = mario/fmriprep
	url = git@github.com:courtois-neuromod/mario.fmriprep.git
	datalad-id = c1c43979-a83d-42b7-9508-4fface179af8
	datalad-url = https://github.com/courtois-neuromod/mario.fmriprep.git
[submodule "movie10/fmriprep"]
	path = movie10/fmriprep
	url = git@github.com:courtois-neuromod/movie10.fmriprep.git
	datalad-id = 3f0351b0-6d9f-4d05-841e-040cbe830bc7
	datalad-url = https://github.com/courtois-neuromod/movie10.fmriprep.git
[submodule "retinotopy/fmriprep"]
	path = retinotopy/fmriprep
	url = git@github.com:courtois-neuromod/retinotopy.fmriprep.git
	datalad-id = 48398cbc-de88-4e06-ad53-09fec11fe65b
	datalad-url = https://github.com/courtois-neuromod/retinotopy.fmriprep.git
[submodule "shinobi/fmriprep"]
	path = shinobi/fmriprep
	url = git@github.com:courtois-neuromod/shinobi.fmriprep.git
	datalad-id = 99a5a823-59ed-4f4e-9fbd-971bb5e7d1d5
	datalad-url = https://github.com/courtois-neuromod/shinobi.fmriprep.git
[submodule "things/fmriprep"]
	path = things/fmriprep
	url = git@github.com:courtois-neuromod/things.fmriprep.git
	datalad-id = 81d8c126-b10f-4e8b-9eab-6825964c8552
	datalad-url = https://github.com/courtois-neuromod/things.fmriprep.git
[submodule "anat/smriprep"]
	path = anat/smriprep
	url = git@github.com:courtois-neuromod/anat.smriprep.git
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
	datalad-url = https://github.com/courtois-neuromod/anat.smriprep.git
[submodule "anat/smriprep.longitudinal"]
	path = anat/smriprep.longitudinal
	url = git@github.com:courtois-neuromod/smriprep.longitudinal.git
	datalad-id = 428cc920-6975-4b3f-82c6-a078ed1fa8f8
	datalad-url = https://github.com/courtois-neuromod/smriprep.longitudinal.git
[submodule "anat/freesurfer"]
	path = anat/freesurfer
	url = git@github.com:courtois-neuromod/anat.freesurfer.git
	datalad-id = e91589e2-3533-4b78-9bd2-660e2cc26a59
	datalad-url = https://github.com/courtois-neuromod/anat.freesurfer.git
[submodule "anat/freesurfer.longitudinal"]
	path = anat/freesurfer.longitudinal
	url = git@github.com:courtois-neuromod/anat.freesurfer_longitudinal.git
	datalad-id = a05d7185-17f8-49d8-91ae-f3859a483815
	datalad-url = https://github.com/courtois-neuromod/anat.freesurfer_longitudinal.git
[submodule "floc/rois"]
	path = floc/rois
	url = git@github.com:courtois-neuromod/floc.rois.git
	datalad-id = 64b59aaf-4a0b-47c8-867e-fb47ecf01988
	datalad-url = https://github.com/courtois-neuromod/floc.rois.git
[submodule "things/glmsingle"]
	path = things/glmsingle
	url = git@github.com:courtois-neuromod/things.glmsingle.git
	datalad-id = 48db661d-fcef-44ba-a2bc-4bb04f8fd3d5
	datalad-url = https://github.com/courtois-neuromod/things.glmsingle.git
[submodule "things/glm"]
	path = things/glm
	url = git@github.com:courtois-neuromod/things-glm.git
	datalad-id = 522a1885-1f42-48c3-af0d-30f08d72aa36
	datalad-url = https://github.com/courtois-neuromod/things-glm.git
[submodule "things/behaviour"]
	path = things/behaviour
	url = git@github.com:courtois-neuromod/things.behaviour.git
	datalad-id = 3814d9a1-62c1-456f-9204-623c238934fc
	datalad-url = https://github.com/courtois-neuromod/things.behaviour.git
[submodule "floc/mriqc"]
	path = floc/mriqc
	url = git@github.com:courtois-neuromod/floc.mriqc.git
	datalad-id = c31a8583-6ccc-4bb4-98b1-a1b427d7856f
	datalad-url = https://github.com/courtois-neuromod/floc.mriqc.git
[submodule "friends/mriqc"]
	path = friends/mriqc
	url = git@github.com:courtois-neuromod/friends.mriqc.git
	datalad-id = 420f6c93-132e-461d-a868-6b9f386ffa10
	datalad-url = https://github.com/courtois-neuromod/friends.mriqc.git
[submodule "movie10/mriqc"]
	path = movie10/mriqc
	url = git@github.com:courtois-neuromod/movie10.mriqc.git
	datalad-id = 6440e3f3-4a38-4572-8e3a-f5a93da1c4c8
	datalad-url = https://github.com/courtois-neuromod/movie10.mriqc.git
[submodule "shinobi/mriqc"]
	path = shinobi/mriqc
	url = git@github.com:courtois-neuromod/shinobi.mriqc.git
	datalad-id = 8fe6d6a1-ef9a-45f5-9907-83f4aa659978
	datalad-url = https://github.com/courtois-neuromod/shinobi.mriqc.git
[submodule "things/mriqc"]
	path = things/mriqc
	url = git@github.com:courtois-neuromod/things.mriqc.git
	datalad-id = c9fba741-e1dc-465d-9d3f-a8d27a1fbcae
	datalad-url = https://github.com/courtois-neuromod/things.mriqc.git
[submodule "retinotopy/prf"]
	path = retinotopy/prf
	url = git@github.com:courtois-neuromod/retinotopy.prf.git
	datalad-id = 5cccb887-2bf5-4465-8a5b-684cdaa8e7b0
	datalad-url = https://github.com/courtois-neuromod/retinotopy.prf.git
[submodule "shinobi/training"]
	path = shinobi/training
	url = git@github.com:courtois-neuromod/shinobi_training.git
	datalad-id = b579da63-22ef-42da-8793-a48e3e78e204
	datalad-url = https://github.com/courtois-neuromod/shinobi_training.git
[submodule "anat/atlases"]
	path = anat/atlases
	url = git@github.com:courtois-neuromod/anat.atlases.git
	datalad-id = 4de38bf7-7bc9-479b-b7f1-d93c81f9880a
	datalad-url = https://github.com/courtois-neuromod/anat.atlases.git
[submodule "friends/physprep"]
	path = friends/physprep
	url = git@github.com:courtois-neuromod/friends.physprep.git
	datalad-url = https://github.com/courtois-neuromod/friends.physprep.git
[submodule "harrypotter/physprep"]
	path = harrypotter/physprep
	url = git@github.com:courtois-neuromod/harrypotter.physprep.git
	datalad-url = https://github.com/courtois-neuromod/harrypotter.physprep.git
[submodule "mario/physprep"]
	path = mario/physprep
	url = git@github.com:courtois-neuromod/mario.physprep.git
	datalad-url = https://github.com/courtois-neuromod/mario.physprep.git
[submodule "movie10/physprep"]
	path = movie10/physprep
	url = git@github.com:courtois-neuromod/movie10.physprep.git
	datalad-url = https://github.com/courtois-neuromod/movie10.physprep.git
[submodule "shinobi/physprep"]
	path = shinobi/physprep
	url = git@github.com:courtois-neuromod/shinobi.physprep.git
	datalad-url = https://github.com/courtois-neuromod/shinobi.physprep.git
[submodule "anat/pycortex"]
	path = anat/pycortex
	url = git@github.com:courtois-neuromod/anat.pycortex.git
	datalad-id = 77f50c61-82aa-4f3a-ae7c-9b3b6e3f7cdf
	datalad-url = https://github.com/courtois-neuromod/anat.pycortex.git
[submodule "petit-prince/bids"]
	path = petit-prince/bids
	url = git@github.com:courtois-neuromod/petit-prince.git
	datalad-url = https://github.com/courtois-neuromod/petit-prince.git
[submodule "petit-prince/fmriprep"]
	path = petit-prince/fmriprep
	url = git@github.com:courtois-neuromod/petit-prince.fmriprep.git
	datalad-url = https://github.com/courtois-neuromod/petit-prince.fmriprep.git
[submodule "langlocalizer/bids"]
	path = langlocalizer/bids
	url = git@github.com:courtois-neuromod/langlocalizer
	datalad-url = https://github.com/courtois-neuromod/langlocalizer
[submodule "mario3/bids"]
	path = mario3/bids
	url = git@github.com:courtois-neuromod/mario3
	datalad-id = 061941e4-bdb6-4f5a-9f47-cc1b962d1ec6
	datalad-url = https://github.com/courtois-neuromod/mario3
[submodule "mario_eeg/bids"]
	path = mario_eeg/bids
	url = git@github.com:courtois-neuromod/mario_eeg
	datalad-url = https://github.com/courtois-neuromod/mario_eeg
[submodule "mariostars/bids"]
	path = mariostars/bids
	url = git@github.com:courtois-neuromod/mariostars
	datalad-url = https://github.com/courtois-neuromod/mariostars
[submodule "multfs/bids"]
	path = multfs/bids
	url = git@github.com:courtois-neuromod/multfs
	datalad-url = https://github.com/courtois-neuromod/multfs
[submodule "narratives/bids"]
	path = narratives/bids
	url = git@github.com:courtois-neuromod/narratives
	datalad-url = https://github.com/courtois-neuromod/narratives
[submodule "triplets/bids"]
	path = triplets/bids
	url = git@github.com:courtois-neuromod/triplets
	datalad-id = 76c5e7cf-b8eb-4a0e-97b5-d6fdf029924a
	datalad-url = https://github.com/courtois-neuromod/triplets
[submodule "langlocalizer/fmriprep"]
	path = langlocalizer/fmriprep
	url = git@github.com:courtois-neuromod/langlocalizer.fmriprep
	datalad-url = https://github.com/courtois-neuromod/langlocalizer.fmriprep
[submodule "mario3/fmriprep"]
	path = mario3/fmriprep
	url = git@github.com:courtois-neuromod/mario3.fmriprep
	datalad-url = https://github.com/courtois-neuromod/mario3.fmriprep
[submodule "mariostars/fmriprep"]
	path = mariostars/fmriprep
	url = git@github.com:courtois-neuromod/mariostars.fmriprep
	datalad-url = https://github.com/courtois-neuromod/mariostars.fmriprep
[submodule "multfs/fmriprep"]
	path = multfs/fmriprep
	url = git@github.com:courtois-neuromod/multfs.fmriprep
	datalad-id = 304ac9d7-afb0-4495-8372-86ed052bb6f2
	datalad-url = https://github.com/courtois-neuromod/multfs.fmriprep
[submodule "narratives/fmriprep"]
	path = narratives/fmriprep
	url = git@github.com:courtois-neuromod/narratives.fmriprep
	datalad-url = https://github.com/courtois-neuromod/narratives.fmriprep
[submodule "triplets/fmriprep"]
	path = triplets/fmriprep
	url = git@github.com:courtois-neuromod/triplets.fmriprep
	datalad-id = 6eb11d57-4cd5-4220-b22e-0b628c382a7c
	datalad-url = https://github.com/courtois-neuromod/triplets.fmriprep
[submodule "emotion-videos/fmriprep"]
	path = emotion-videos/fmriprep
	url = git@github.com:courtois-neuromod/emotion-videos.fmriprep
	datalad-url = https://github.com/courtois-neuromod/emotion-videos.fmriprep
[submodule "emotion-videos/bids"]
	path = emotion-videos/bids
	url = git@github.com:courtois-neuromod/emotion-videos
	datalad-id = be554e46-3ca3-43a8-99c5-4b7a424fd499
	datalad-url = https://github.com/courtois-neuromod/emotion-videos
[submodule "emotion-videos/tedana"]
	path = emotion-videos/tedana
	url = git@github.com:courtois-neuromod/emotion-videos.tedana
	datalad-id = e6b78aa4-394d-4caa-9715-a4334c9d22b3
	datalad-url = https://github.com/courtois-neuromod/emotion-videos.tedana
[submodule "emotion-videos/physprep"]
	path = emotion-videos/physprep
	url = git@github.com:courtois-neuromod/emotion-videos.physprep
	datalad-id = 9cc5a748-787b-4668-9d63-f483d7f4c603
	datalad-url = https://github.com/courtois-neuromod/emotion-videos.physprep
[submodule "ood/bids"]
	path = ood/bids
	url = git@github.com:courtois-neuromod/ood
	datalad-id = f2040046-a06f-455a-b692-6070ea0ed94c
	datalad-url = https://github.com/courtois-neuromod/ood
[submodule "ood/fmriprep"]
	path = ood/fmriprep
	url = git@github.com:courtois-neuromod/ood.fmriprep
	datalad-id = f5896166-1256-4a2a-a9fc-9820b19d2fa0
	datalad-url = https://github.com/courtois-neuromod/ood.fmriprep
[submodule "mutemusic/fmriprep"]
	path = mutemusic/fmriprep
	url = git@github.com:courtois-neuromod/mutemusic.fmriprep
	datalad-url = https://github.com/courtois-neuromod/mutemusic.fmriprep
[submodule "mutemusic/bids"]
	path = mutemusic/bids
	url = git@github.com:courtois-neuromod/mutemusic
	datalad-url = https://github.com/courtois-neuromod/mutemusic
[submodule "hearing/bids"]
	path = hearing/bids
	url = git@github.com:courtois-neuromod/hearing.git
	datalad-id = 0f821d45-4e4f-467c-b30d-db06fb1c34de
	datalad-url = https://github.com/courtois-neuromod/hearing.git
[submodule "anat/mriqc"]
	path = anat/mriqc
	url = ./anat/mriqc
	datalad-id = 62c1eb6f-1d46-41fe-ad28-f311d4c63ab3
[submodule "emotion-videos/mriqc"]
	path = emotion-videos/mriqc
	url = ./emotion-videos/mriqc
	datalad-id = 8177380d-cc3c-4aaf-9d76-b075547198eb
[submodule "gamepad/mriqc"]
	path = gamepad/mriqc
	url = ./gamepad/mriqc
	datalad-id = 40fb4f11-a831-4aea-b450-26f1e97f44ca
[submodule "harrypotter/mriqc"]
	path = harrypotter/mriqc
	url = ./harrypotter/mriqc
	datalad-id = 9a213897-4b34-4d4f-ac56-ad8e85a90b6a
[submodule "hcptrt/mriqc"]
	path = hcptrt/mriqc
	url = ./hcptrt/mriqc
	datalad-id = 1bc1c774-8a7e-45ef-8a11-217e53123c59
[submodule "hearing/mriqc"]
	path = hearing/mriqc
	url = ./hearing/mriqc
	datalad-id = f2fa350a-4deb-4b16-abc3-7bc44cc3edea
[submodule "langlocalizer/mriqc"]
	path = langlocalizer/mriqc
	url = ./langlocalizer/mriqc
	datalad-id = f7bd0fda-b5ca-43b1-a1cd-6db37a01cc38
[submodule "mario3/mriqc"]
	path = mario3/mriqc
	url = ./mario3/mriqc
	datalad-id = 17837b2a-cad6-432b-9fc8-f9572a9c41a9
[submodule "mario/mriqc"]
	path = mario/mriqc
	url = ./mario/mriqc
	datalad-id = e02df18d-02d2-4f28-b6d1-c0905f160ab3
[submodule "mario_eeg/mriqc"]
	path = mario_eeg/mriqc
	url = ./mario_eeg/mriqc
	datalad-id = 6fed3fa6-7231-45dc-8c56-6591d6c41588
[submodule "mariostars/mriqc"]
	path = mariostars/mriqc
	url = ./mariostars/mriqc
	datalad-id = 1a798430-3fc1-4caa-9810-57185453c769
[submodule "multfs/mriqc"]
	path = multfs/mriqc
	url = ./multfs/mriqc
	datalad-id = 59933f80-0f9b-4332-a77d-5b2c6e320068
[submodule "mutemusic/mriqc"]
	path = mutemusic/mriqc
	url = ./mutemusic/mriqc
	datalad-id = e436b8e1-f3ba-40cf-b76c-530f568d7930
