[submodule "anat/bids"]
	path = anat/bids
	url = git@github.com:courtois-neuromod/anat.git
	datalad-id = b376774c-889d-11ea-b60e-3ea8d101da1a
	datalad-url = git@github.com:courtois-neuromod/anat.git
[submodule "floc/bids"]
	path = floc/bids
	url = git@github.com:courtois-neuromod/floc.git
	datalad-id = a1aba9da-6122-4824-948f-241b0a1f4886
	datalad-url = git@github.com:courtois-neuromod/floc.git
[submodule "friends/bids"]
	path = friends/bids
	url = git@github.com:courtois-neuromod/friends.git
	datalad-id = 66738676-1d20-11ea-9a9e-3ea8d101da1a
	datalad-url = git@github.com:courtois-neuromod/friends.git
[submodule "gamepad/bids"]
	path = gamepad/bids
	url = git@github.com:courtois-neuromod/gamepad.git
	datalad-id = afdbdee8-50ec-4cd4-9baa-354a946585c5
	datalad-url = git@github.com:courtois-neuromod/gamepad.git
